{% extends 'public_portfolio/base.html.twig' %}

{% block title %}Hello PublicPortfolioController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/jeremiecrinon/Library/Mobile Documents/com~apple~CloudDocs/dev perso/jcrinon.com - v2/projet/jcrinon.com/src/Controller/PublicPortfolioController.php</code></li>
        <li>Your template at <code>/Users/jeremiecrinon/Library/Mobile Documents/com~apple~CloudDocs/dev perso/jcrinon.com - v2/projet/jcrinon.com/templates/public_portfolio/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
